.container {
  width: 1500px;
  height: 1500px;
}
.head {
  height: 5%;
}
.pictures {
  height: 65%;
}
.btn-generate {
  height: 5%;
}
.coursel {
  height: 20%;
  width: 100%;
}
.footer {
  height: 5%;
}

.slick-track{
  height: 100%;
}
